.cards {
    width: 220px;
    height: auto;
    padding: 22px 26px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: rgba(255, 255, 255, .65);
    border-radius: 8px;
    box-shadow: 7px 7px 8px rgba(0, 0, 0, .2);
    margin: 0 35px 60px;
    cursor: pointer;
    &__wrap:hover {
        transition: transform .1s;
        // transform: scale(1.05);
        transform: translateY(-10px);
    }
    &__wrap:focus {
        box-shadow: 2px 2px 12px rgba(106, 38, 2, 0.9);
    }
    &__img {
        width: 168px;
        height: 134px;
    }
    &__name {
        flex-grow: 1;
    }
    &__text {
        text-decoration: none;
        color: #000;
        text-align: end;
        margin-top: 14px;
    }
}

@media (max-width: 1439px) {
  
}

@media (max-width: 991px) {
   
}

@media (max-width: 767px) {
  .cards {
    margin: 0 30px 50px;
  }
}

@media (max-width: 575px) {
    .cards {
        margin: 0 30px 35px;
      }
}